<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"crossorigin="anonymous">
        <link href="/views/index/index.css" rel="stylesheet" type="text/css" media="all">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/views/index/index.js"></script>
    </head>

    <body>
        <div class="form-wrapper cf">
            <img src="https://raw.githubusercontent.com/macio-matheus/iot-webservice/master/docs/IoT.png">
        </div>
        <div class="form-wrapper cf show_data" id="show_data">

        </div>
        <div class="byline"></div>
    </body>
</html>